@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'arvo';
    src: url(../Assets/fonts/Arvo-Regular.ttf);
}

h2 {
    position: relative;
    text-transform: capitalize;
}

h3 {
    text-transform: capitalize;
}

h2::after {
    content : "";
    display: block;
    position: absolute;
    width:80%;
    height:2px;
    margin-top:20px;
    background-color:#f74c3c;
    left: 10%;
}

@layer components {
    .btn {
      @apply text-sm sm:text-base md:text-xl inline-block font-bold border border-gray-500 rounded-md p-2
             transition-all duration-300 
             text-newcolor_orange bg-white
             hover:shadow-[0_20px_20px_rgba(0,0,0,1)]
    }

    .nav-link {
        @apply transition-all duration-200 transform hover:scale-110 hover:text-black;
    }
  }