@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'arvo';
    src: url(../Assets/fonts/Arvo-Regular.ttf);
}

h2 {
    position: relative;
    text-transform: capitalize;
}

h3 {
    text-transform: capitalize;
}

h2::after {
    content : "";
    display: block;
    position: absolute;
    width:100%;
    height:2px;
    margin-top:20px;
    background-color:#f74c3c;
}
